body{
    margin: 0;
    padding: 0;
}

.coupon-image{
    object-fit: cover;
    width: 300px;
    height: 150px;
}
.carousel-item {
    display: flex;
    justify-content: center;
}
.carousel-item .col-md-4 {
    display: flex;
    justify-content: center;
}
.carousel-control-prev.custom-carousel-control,
.carousel-control-next.custom-carousel-control {
    width: 50px;
    height: 50px;
    background-color: rgb(206, 5, 5);
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 70%, 70%;
}

.carousel-control-prev.custom-carousel-control:hover,
.carousel-control-next.custom-carousel-control:hover {
    background-color: rgb(228, 4, 4);
}
    .navbar-custom {
      background-color:rgb(240,5,5); /* Bootstrap's red color */
    }
    .navbar-custom .navbar-brand,
    .navbar-custom .nav-link,
    .navbar-custom .btn {
      color: #fff;
    }
    .navbar-custom .btn-outline-danger {
      border-color: #fff;
      color: #fff;
    }
    .navbar-custom .btn-outline-danger:hover {
      background-color: #fff;
      color: #dc3545;
    }
     .get {
    color: #fff;
    background: linear-gradient(to right, #FF416C, #FF4B2B);
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}

.get:hover {
    text-decoration: double;
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    border-color: #FF416C;
    box-shadow: 0px 6px 10px rgba(255, 69, 108, 0.5);
    color: white;
}

.get:active {
    transform: translateY(2px);
}
.getcode {
    color: #fff;
    text-decoration: none; /* Remove underline */
    background: linear-gradient(to right, #f00707, #ce2d189a);
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 8px 5px rgba(68, 65, 65, 0.349);
}

.getcode:hover {
    text-decoration: none; /* Ensure no underline on hover */
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    border-color: #FF416C;
    box-shadow: 0px 6px 10px rgba(255, 69, 108, 0.5);
}

.getcode:active {
    transform: translateY(2px);
}
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color:red;
  border-radius: 50%;
  font-size: 1.5rem;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
  z-index: 99;  /* Ensure button stays on top */
}

.scroll-to-top:hover {
  opacity: 1;
}

.img-1
{
  width:100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.img-1:hover {
  transform: scale(1.05);
}
.title
{
   font-family:  sans-serif;
    padding-left: 50px;
    text-align: left;
    font-weight: 200;
    font-size: xx-large;
}
